/* Styles for the main container */
.container {
    max-width: 1200px; /* Maximum width of the container */
    margin: 0 auto; /* Center the container horizontally */
    padding: 45px; /* Padding inside the container */
    margin-top: 12%; /* Top margin of 10% */
}

/* Styles for form groups */
.form-group {
    margin-bottom: 25px; /* Bottom margin for spacing between form groups */
}

/* Styles for form group labels */
.form-group label {
    display: block; /* Make labels display as block elements */
    margin-bottom: 10px; /* Bottom margin for spacing below labels */
    font-weight: bold; /* Bold text for labels */
}

/* Styles for form controls */
.form-control {
    width: 43%; /* Width of form controls */
    padding: 10px; /* Padding inside form controls */
    font-size: 20px; /* Font size of form controls */
    border: 5px solid #ccc; /* Border around form controls */
    border-radius: 8px; /* Border radius for rounded corners */
}

/* Styles for button groups */
.btn-group {
    margin-top: .0005px; /* Top margin for spacing above button groups */
    margin-bottom: 25px; /* Bottom margin for spacing below button groups */
}

/* Styles for buttons */
.btn {
    padding: 15px 25px; /* Padding inside buttons */
    font-size: 20px; /* Font size of buttons */
    border: none; /* No border for buttons */
    border-radius: 8px; /* Border radius for rounded corners on buttons */
    cursor: pointer; /* Cursor style on hover for buttons */
}

/* Styles for primary buttons */
.btn-primary {
    background-color: #007bff; /* Background color for primary buttons */
    color: #fff; /* Text color for primary buttons */
}

/* Styles for danger (red) buttons */
.btn-danger {
    background-color: #dc3545; /* Background color for danger buttons */
    color: #fff; /* Text color for danger buttons */
}